
#bolaPresentacion {
    position: fixed;
    top: 25%;
    left:20%;
    width: 200px;
    height: 200px;
    background: url(images/esferat5.png) center/cover;
    animation: girar 10s ease-in-out infinite;
    z-index:4;
    
}
#presentacion {
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: url(images/presentacion.png) center/contain no-repeat;
    z-index: 5;
} 
  
  
@keyframes girar {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg) ;
    }
  }
  
@keyframes girar {
    100%{
    transform: rotate(360deg);
    }
    
}

#bienvenida{
    position:fixed;
    width:500px;
    height:380px;
    background-color: rgba(0, 123, 255, 0.765);
    top: calc(50% - 200px);
    left:calc(50% - 250px);
    z-index:30;
    border-radius:2%;
}

#jugadoresDiv{
    position:relative;
    display: flex;
    height: 100px;

}
.botoneable{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    border-radius: 5%;
    margin:3%;
}
.botoneable:hover{
    background-color: rgba(255, 0, 255, 0.565);
}
.cadaJugador{
    width:50%;
    height: 100%;

}

.nombre{
    margin: 0px;
    position: absolute;
    bottom: 0px;
}

#KattUnJugador{
    position:relative;
    top:-10%;
}
.jugador{
    position:fixed;
    top: 70px;
    left:calc(50% - 140px);
    width: 25px;
    height: 35px;
    z-index:15;

}

/* //////////// 2 jugadore  ///////////////// */
#MattYKattDiv{
    position:relative;
    top: 15px;
    height: 100px;
}

#MattDosJugadores{
    position:fixed;
    top: calc(50% - 50px);
    left:calc(50% - 40px);
}
#KattDosJugadores{
    position:fixed;
    top: calc(50% - 50px);

    left:calc(50% + 20px);
}
.exibicion{
    height: 35px;
    width: 25px;
    
}

/* //////////// 2 jugadore inversos  ///////////////// */

#KattYMattDiv{
    position:relative;
    top: 10px;
    height: 100px;
}

#MattDosJugadoresDos{
    position:fixed;
    top: calc(50% + 65px);
    left:calc(50% + 20px);
}
#KattDosJugadoresDos{
    position:fixed;
    top: calc(50% + 65px);
    left:calc(50% - 40px);
}

#controles{
    position: fixed;
    height: 200px;
    width:400px;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    background:url('images/teclas.jpeg') center/cover;
    z-index: 40;
    opacity: 1;
    border: 2px solid red;
    border-radius: 5%;
}